.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 100px;
    gap: 10px;
}

.boards {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 50px;
}
