.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

    min-width: 360px;
    padding: 10px 0;
    padding: 10px;

    border-radius: 6px;

    transition: 100ms;
}

.badge {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

    padding: 2px 20px;

    background: #e1e4e8;
    border-radius: 18px;
}

.dot {
    width: 6px;
    height: 6px;
    background: #91918e;
    border-radius: 6px;
}

.new {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 100%;
    padding: 5px 10px;

    background: #fff;
    filter: drop-shadow(0 4px 4px rgb(0 0 0 / 5%));
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: 6px;

    transition: 100ms;
}

.new img {
    opacity: 0.6;
    transition: 100ms;
}

.new:hover {
    border: 1px solid rgb(0 0 0 / 40%);
}

.new:hover img {
    opacity: 1;
}

.list [placeholder]:empty::before {
    content: attr(placeholder);
    color: rgb(0 0 0 / 10%);
}

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}
