.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

    min-width: 280px;
    padding: 10px 0;
}

.badge {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;

    padding: 2px 20px;

    background: #e1e4e8;
    border-radius: 18px;
}

.dot {
    width: 6px;
    height: 6px;
    background: #91918e;
    border-radius: 6px;
}
