h1 {
    margin: 0;
    font-size: 24px;
}

.tile {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    width: 100%; /* Set tile width to 100% of parent */
    padding: 5px 10px;

    border-radius: 6px;

    transition: 100ms;
}

.tile section,
.tile .header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.tile .header .icon {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 48px;
    height: 48px;

    text-align: center;

    background: rgb(0 0 0 / 2%);
    border: 1px solid rgb(0 0 0 / 20%);
    border-radius: 6px;
}

.tile:hover {
    background: rgb(0 0 0 / 5%);
}

.page {
    cursor: default;
}

.page .header {
    cursor: default;
}

.page .header .icon {
    cursor: pointer;
    transition: 100ms;
}

.page .icon:hover > img {
    opacity: 0.6;
}

.page:hover {
    background: inherit;
}

.picker {
    position: absolute;
    z-index: 999;
    top: 50px;
    left: 0;

    display: none;
}

.new {
    font-size: 24px;
    font-weight: bold;
    color: rgb(31 24 24 / 100%);

    background: none;
    border: none;
}

.new:focus {
    border: none;
    outline: none;
}

.editing header {
    opacity: 0.6;
}

.popup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;

    width: 300px;
    height: 100px;
    padding: 100px;

    background: #fff;
    border-radius: 6px;
}
