h1 {
    font-size: 24px;
    margin: 0;
}

.tile {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 6px;
    transition: 100ms;
    box-sizing: border-box;
    width: 100%; /* Set tile width to 100% of parent */
}

.tile section,
.tile .header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.tile .header .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    text-align: center;
    background: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.tile:hover {
    background: rgba(0, 0, 0, 0.05);
}

.page {
    cursor: default;
}

.page .header {
    cursor: default;
}

.page .icon {
    cursor: pointer;
    transition: 100ms;
}

.page .icon:hover > img {
    opacity: 0.6;
}

.page:hover {
    background: inherit;
}

.picker {
    display: none;
    z-index: 2;
    position: relative;
    top: 260px;
    left: 140px;
}

.new {
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: rgb(31 24 24 / 100%);
    background: none;
}

.new:focus {
    outline: none;
    border: none;
}

.editing header {
    opacity: 0.6;
}
